
<div class="container-fluid dashboard-div">
  <div class="row">

  <%= render('layouts/dashboard/left') %>

    <div class="col-md-6">
    </div>

    <div class="col-md-3">
    </div>

  </div> <!-- row -->
</div> <!-- container-fluid -->
