<div class="container-fluid dashboard-div">
  <div class="row">

    <div id="dashboard-left-col" class="col-md-3 ui-box">
      <%= render('layouts/dashboard/user_actions') %>
    </div>

    <div id="dashboard-timeline" class="col-md-4 ui-box">
      <%= render('layouts/dashboard/timeline') %>
    </div>

    <div id="dashboard-right-col" class="col-md-3 ui-box">
      <%= render('layouts/dashboard/right') %>
    </div>

    <div class="clearfix visible-md-block"></div>

  </div> <!-- row -->
</div> <!-- container-fluid -->
