<div class="container-fluid dashboard-div">
  <div class="row dashboard">

    <div id="dashboard-left-col">
      <%= render('layouts/dashboard/left') %>
    </div>

    <div id="dashboard-center-col">
      <%= render('layouts/dashboard/center') %>
    </div>

    <div id="dashboard-right-col">
      <%= render('layouts/dashboard/right') %>
    </div>

    <div class="clearfix visible-md-block"></div>

  </div> <!-- row -->
</div> <!-- container-fluid -->
