<div class="col-md-3 dashboard-left">

  <div class="dashboard-user-stats">
    <%= render('layouts/dashboard/userstats', user: current_user) %>
  </div>

  <div id="dashboard-tweetbox">
    <%= render('layouts/dashboard/tweetbox') %>
  </div>

</div>
