<div class="container-fluid">
  <div class="col-md-3 dashboard-right">

    <div class="dashboard-who-to-follow-box">
      <p class="lead">Who to Follow</p>
    </div>

    <div class="dashboard-all-users">
      <p class="lead">All Users:</p>
      <ul>
        <% User.all.each do |user| %>
          <% unless user == current_user %>
            <% if current_user.followed_users.include?(user) %>
              <li>@<%= user.handle %></li>
            <% else %>
              <li class="text-muted">@<%= user.handle %></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
