<% user = User.find(tweet.user_id) %>
<% if current_user.mentioned?(tweet) %>
  <div class="timeline-mention">
<% else %>
  <div class="timeline-tweet">
<% end %>
  <table class="tweet-table">
    <tr>
      <td><%= image_tag user.avatar(:thumb), class: "avatar-image" %></td>
      <td>
        <strong>
          <%= link_to "@#{user.handle}", user_path(user) %>
        </strong> :
        <%= tweet.created_at.to_s %></td>
    </tr>
    <tr>
      <td></td>
      <td class="tweet-table-content"><%= tweet.content %></td>
    </tr>
  </table>
</div>
