<table class="table">
  <thead>
    <th>Tweets</th>
    <th>Following</th>
    <th>Followers</th>
  </thead>
  <tr>
    <td><%= object.tweets.length %></td>
    <td><%= object.followed_users.length %></td>
    <td><%= object.followers.length %></td>
  </tr>
</table>
