<div id="following-index" style="display: none;"></div>
<div class="row">
  <div class="col-md-3 ui-box">
    <div class="dashboard-user-stats">
      <%= render('layouts/user/userstats', user: @user) %>
    </div>
  </div>

  <div id="following-col" class="col-md-3 ui-box">
    <%= render('layouts/relations/following', user: @user) %>
  </div>

  <div id="followed-users-col" class="col-md-3 ui-box">
    <%= render('layouts/relations/followed_users', user: @user) %>
  </div>

  <div class="clearfix visible-md-block"></div>
</div>
