<table>
  <tr>
    <td><%= image_tag user.avatar(:thumb), class: "avatar-image" %></td>
    <td>
      <strong>
        <%= link_to "@#{user.handle}", user_path(user) %>
      </strong> :
      <span class="text-muted">Joined: <%= user.created_at.to_s %></span>
    </td>
  </tr>
  <tr>
    <td></td>
    <td><%= user.bio %></td>
  </tr>
</table>
