/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";


body {
  background-color: #1d1f21;
}

.ui-box {
  background-color: #e8e8e8;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
}

.error-box {
  margin: auto;
  background-color: #ff0000;
  padding: 20px 10px 20px 10px;
  color: black;
  border-radius: 10px;
  overflow: hidden;
}

.avatar-image {
  display: inline;
  margin: 5px;
  border-radius: 10px;
}

.timeline-tweet {
  border: 2px solid #000;
  display: block;
  margin: 10px;
  border-radius: 10px;
}

.timeline-mention {
  border: 2px solid #000;
  display: block;
  margin: 10px;
  font-weight: bold;
  color: #000000;
  background-color: #f7ad00;
  border-radius: 10px;
}


.flash-msg {
  color: red;
  font-size: 1.5em;
}

#dashboard-right-col li {
  list-style-type: none;
}
