<% if object.errors.any? %>
  <div class="error-box">
    <h3>Found the following errors:</h3>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
