<div class="jumbotron">
  <div class="container">
    <h1>Twitter++</h1>
    <p>Like Twitter, but with (1) more character!</p>
    <p>
      <%= link_to "Sign Up!", new_user_registration_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "Or Log In!", new_user_session_path, class: "btn btn-success btn-lg" %>
    </p
  </div>
</div>
